* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#contents {
  display: flex;
}

aside {
  float: right;
  height: 100vh;
  width: 20vw
}

.new-marker {

}

.my-marker {

}

#map {
  float: left;
  height: 100vh;
  width: 80vw;
}
